*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.imgboss {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img{
        margin: 0;
        padding: 0;
        height: 32vh;
        width: 56vh;
        overflow-x: hidden;
    }
   

    
}
.about_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.2rem 1.5rem;

   
    .section {
        h1 {
            color: rgb(69, 176, 202);
            margin-bottom: 0.2rem;
        }
        .span1{
            color: rgb(131, 224, 162);
            font-weight: 900;
        }
        p{
            color: white;
            font-size: 17px;
            margin-bottom: 1.5rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

    }
}
