// Initial screen (max-width: 320px)
html{
    // scroll-behavior: smooth;
}
body {
  background: rgb(20, 29, 38);
  * {
    // outline: 1px solid red;
  }
}

header {
  // height: 10vh;
  background: white;
  padding: 0.5rem 0;

  .welcome-text {
    h1,
    p {
      color: rgb(2, 13, 22);
      text-align: center;
    }
    h1 {
      font-size: 25px;
      font-weight: 700;
    }
    p {
      color: rgba(2, 13, 22, 0.8);
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 5.5rem;
  // height: auto;
  // width: auto;
  // overflow-x: hidden;
  margin-inline: auto;

  .img1 {
    padding: -30rem;
    background: rgba(255, 255, 255, 0.7);
    height: 16rem;
    width: 16rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
    border-radius: 10rem;
    border: 7px solid rgb(2, 13, 22);
    // overflow-x: hidden;


    img {
      height: 18rem;
      width: 11.1rem;
      margin: 2.4rem 0 0 1.9rem;
      border-bottom-left-radius: 8rem;
    }
  }

  .home-text {
    color: white;
    text-align: center;
    margin: 0rem 0rem 01rem 0rem;
    padding: 1rem;
    height: auto;
    width: 18rem;
    // min-width: 1rem;
    line-height: 30px;
    box-shadow: 1px 1px 15px black;
    border-radius: 10px;
    font-weight: 550;
    font-size: 22px;

    button {
      margin-top: 1rem;
      margin-left: 11rem;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.7);
      color: rgb(2, 13, 22);
      padding: 6px;
      border-radius: 7px;
      font-weight: 500;
      font-size: 18px;
      box-shadow: 5px 5px 15px black;
      cursor: pointer;

      a {
        text-decoration: none;
        color: rgb(2, 13, 22);
      }

      :hover {
        background: yellow;
        color: green;
      }
    }
  }
}

footer {
  background: rgb(2, 13, 22);
  height: auto;
  padding: 0.9rem 1.5rem;
  color: white;

  hr {
    // width: 2px;
    margin: 0.7rem 0px;
    color: rgb(203, 235, 213);
  }

  .footer-icons {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    //  font-size: 18px;
    i {
      font-size: 15px;
      margin-top: 3px;
    }
  }

  .footer-email {
    display: flex;
    margin-left: 1.1rem;

    a {
      margin-left: 0.6rem;
      color: white;
    }
  }

  .site-map {
    display: flex;
    flex-direction: column;
    margin-left: 1.1rem;
    margin-top: 5px;

    h4 {
      color: rgb(103, 135, 113);
    }

    a {
      color: rgb(203, 235, 213);
      text-decoration: none;
      font-size: 14px;
      margin-top: 0.5rem;
    }
  }

  p {
    float: right;
    font-size: 0.75rem;
  }
}

