* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-nav {
  // background: #03051c;
  background: rgb(2, 13, 22);
  color: white;
  display: flex;
  padding: 1.2rem 0.5rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  h1{
    animation-name: portfolio_color;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }

  a {
    color: white;
      text-decoration: none;
    }


  // .Hamburger{

  // }
}

@keyframes portfolio_color {
  0%{color: white;}
  20%{color: green;}
  40%{color: white;}
  50%{color: red;}
  70%{color: white;}
  80%{color: yellow;}
  100%{color: white;}
}
